/* Reset CSS de base */

/* Supprime les marges et les espacements par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  background-image: url(../img/backgroundSite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Sohaib */
/* Page d'acceuil */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 75vh;
  position: relative; 
}

#mainContent{
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 75vh;
}

#h1Acceuil {
  width: 60%;
}

.slogan {
  background-color: black;
  color: white;
  font-size: 4vw;
  padding: 0px 10px 0px 10px;
  display: inline-block;
  width: max-content;
}

#buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  margin-bottom: 50px;
  margin-top: -50px;
}

/* button Acceuil */
#inscription {
  position: relative;
  width: 20vw;
  border-radius: 8px;
  border: 3px solid #fffcfc;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#inscription:hover,
#demo:hover{
  cursor: pointer;
  transform: scale(1.04);
}

#demo {
  position: relative;
  width: 20vw;
  border-radius: 8px;
  border: 3px solid #fffcfc;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.pboutton{
  position: absolute;
  margin-top: 1vw;
  font-size: 30pt;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
div img {
  width: 109pt;
}

@media screen and (max-width: 640px) {
    .pboutton{
        font-size: 21pt;
    }
}

@media screen and (max-width: 1000px) {
    .pboutton{
        font-size: 23pt;
    }
}

/* Sohaib */
/* section 2 */
#mainMiddleContent{
  height: 100vh;
  width: 98vw;
}

#sectionTwoAcceuil{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 98vw;
  height: 100vh;
  position: relative;
}

.broly {
  z-index: 3;
  margin-left: -200px;
}

.venom {
  z-index: 2;
  margin-left: -250px;
}

.chunLi {
  z-index: 1;
  margin-left: -200px;
}

.captainA {
  z-index: 0;
  margin-left: -220px;
}

.chunLi:hover,
.captainA:hover {
  margin-left: 0;
  transition: 2s;
}

.broly:hover{
  margin-left: -10px;
  transition: 2s;
}

.venom:hover{
  margin-left: -20px;
  transition: 2s;
}

#chunLi,
#broly,
#venom,
#captainA{
  position: absolute;
  margin-bottom: 200px;
  z-index: 1000; /* Position absolue pour superposer les div sur les images */
}

#broly{
  height: 280px;
  width: 206px;
  background: url(../assets/sprite1_Broly.png);
  bottom: 0;
  left: 100px;
  background-position: '-2006px 0px';
  visibility: hidden;
}

#venom{
  height: 280px;
  width: 230px;
  background: url(../assets/sprite1_Venom.png);
  left: 380px;
  bottom: 0;
  visibility: hidden;
}

#chunLi{
  height: 101px;
  width: 93px;
  background: url(../assets/sprite1_ChunLi.png);
  transform: scale(2);
  left: 625px;
  bottom: 50px;
  visibility: hidden;
}

#captainA{
  height: 200px;
  width: 147px;
  background: url(../assets/sprite1_CaptainAmerica.png);
  left: 850px;
  bottom: 25px;
  transform: scale(1.5);
  visibility: hidden;
}

.textSectionMain{
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 2%;
}

.titreSectionMain{
  font-size: 3vw;
}

.phraseSectionMain{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}
/* Rétablit la police de caractères en sans-serif et ajout de la police de Mortal Kombat*/
@font-face {
  font-family: 'MK TITLE';
  src: url('../fonts/MKtitle.ttf') format('truetype');
}

body,
button,
input,
select,
textarea {
  font-family: 'MK TITLE', sans-serif;
}

/* Annule la liste des éléments de liste */
ul,
ol {
  list-style: none;
}

/* Rétablit la taille de police par défaut */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

/* Réinitialise d'autres styles */
/* Annule les puces par défaut des listes non ordonnées */
ul {
  list-style-type: none;
}

/* Karim */
/* login page style */
#containerLoginPage {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#containerForm {
  background-color: black;
  margin-top: 0;
  padding: 50px;
  border: 1px solid #ffffff;
  align-items: center;
  text-align: center;
  margin-top: 50%;
}

h1 {
  text-align: center;
  color: #333;
}

#containerForm label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: #ffffff;
}

#containerForm input[type='text'],
#containerForm input[type='password'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

#containerForm input[type='submit'] {
  background-color: black;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
}

#containerForm input[type='submit']:hover {
  background-color: rgb(168, 3, 3);
}

#containerForm #paragrapheLogin {
  display: block;
  color: #ffffff;
  text-align: left;
}

#containerForm a {
  text-decoration: none;
}

#containerForm a:hover {
  text-decoration: underline;
}

.phrase_error {
  color: rgb(168, 3, 3);
}

/* Sohaib */
/* NAVBAR */
#navbarWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
}

#navbarWrapper a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 90%;
}

#navbarWrapper .logoPage {
  width: 7em;
  position: relative;
  margin-left: 5%;
}

#navbarWrapper .navLinks ul {
  display: flex;
}

#navbarWrapper .navLinks ul li {
  margin: 0 25px;
}

#icons {
  display: none;
}

@media screen and (max-width: 700px) {
  #navbarWrapper {
    display: block;
    height: 100px;
  }

  #navbarWrapper .navLinks ul li {
    margin: 0;
  }

  .navLinks ul {
    top: 5em;
    position: absolute;
    display: flex;
    line-height: 100px;
    flex-direction: column;
    height: 88vh;
    left: -100%;
    width: 100%;
    background: rgb(124, 1, 1);
    padding: 0;
    text-align: center;
    transition: 0.25s;
    z-index: 1000;
  }

  #navbarWrapper .logoPage {
    margin: 40px 0;
    width: 7em;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  

  .navLinks ul li a {
    display: block; /* Faire en sorte que le lien soit un bloc pour couvrir l'ensemble de l'élément li */
    width: 100%; /* Étendre le lien sur toute la largeur de l'élément li */
    height: 100%; /* Étendre le lien sur toute la hauteur de l'élément li */
  }

  .navLinks ul li:hover {
    background: rgba(79, 1, 1, 0.429);
    padding-left: 20px;
    cursor: pointer;
  }

  #icons {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  #icons:before {
    content: '\2630';
    color: rgb(255, 255, 255);
    font-size: 30px;
  }

  .active #icons::before {
    content: '\2716';
    font-size: 30px;
  }

  #navbarWrapper.active ul {
    left: 0;
  }

  #buttonSection {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #inscription {
    width: 200vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #inscription:hover,
  #demo:hover{
    cursor: pointer;
    transform: scale(1.04);
  }
  
  #demo {
    width: 200vw;
    align-items: center;
    margin-right: 20px;
  }
}

@media screen and (max-width: 650px) {
  #containerLoginPage {
    margin-top: 50px;
    position: relative;
    width: 100%;
  }
}




/* ------------------- MOHAMED ----------------------*/

/* styles dans main.css */
.fighter-image {
  width: 150px;
  height: 150px;
  margin: 5px; /* Ajoute une marge de 5px autour de chaque image */
  /* Ajoutez d'autres styles selon vos besoins */
}

.main-container {
  display: flex;
  flex-wrap: nowrap; /* Empêche le passage à la ligne des éléments */
  overflow-x: auto; /* Ajoute un défilement horizontal si les images débordent de la largeur */
  gap: 10px; /* Ajoute un espacement entre les images */


 /* Ajout de styles pour placer le contenu au bas de la page et au centre horizontalement */
 position: absolute;
 bottom: 0;
 left: 50%; /* Déplacer le conteneur à 50% de la largeur de son parent */
 transform: translateX(-50%); /* Corriger la position pour le centrer */
 width: 100%;
 justify-content: center; /* Aligner le contenu horizontalement au centre */
}



#brolySurPlace{
  height: 280px;
  width: 206px;
  background: url(../assets/sprite1_Broly.png);
  top: 10%;
  /* visibility: hidden; */
  position: absolute;
  z-index: 1000; /* Position absolue pour superposer les div sur les images */
  
}
