/* Reset CSS de base */
/* Supprime les marges et les espacements par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Rétablit la police de caractères en sans-serif et ajout de la police de Mortal Kombat*/
@font-face {
  font-family: 'MK TITLE';
  src: url('../fonts/MKtitle.ttf') format('truetype');
}

body,
button,
input,
select,
textarea {
  font-family: 'MK TITLE', sans-serif;
  overflow-x: hidden;
}

/* Annule la liste des éléments de liste */
ul,
ol {
  list-style: none;
}

/* Réinitialise d'autres styles */
/* Annule les puces par défaut des listes non ordonnées */
ul {
  list-style-type: none;
}
body {
  background-color: #000000;
  background-image: url(../img/BaseDuSite/backgroundSite.jpg);
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

/* Sohaib */
/* NAVBAR */
#navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
}

#navbarWrapper a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 100%;
}

#navbarWrapper .logoPage {
  position: relative;
  margin-left: 5%;
  width: 8em;
}

#navbarWrapper .navLinks ul {
  display: flex;
}

#navbarWrapper .navLinks ul li {
  margin: 0 25px;
}

#icons {
  display: none;
}

/* Sohaib */
/* Page d'acceuil */
#mainContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#titleOfMain {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#h1Acceuil {
  max-width: 60%;
}

.slogan {
  background-color: black;
  color: white;
  font-size: 4vw;
  padding: 0px 10px 0px 10px;
  display: inline-block;
  width: max-content;
}

#buttonSection {
  display: flex;
  position: relative;
  top: 30%;
  width: 75vw;
  margin-left: 15vw;
  justify-content: space-between;
}

/* button Acceuil */
#inscription {
  position: relative;
  width: 25vw;
  border-radius: 8px;
  border: 3px solid #fffcfc;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#inscription:hover,
#demo:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: 0.5s;
}

#demo {
  position: relative;
  width: 25vw;
  border-radius: 8px;
  border: 3px solid #fffcfc;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.pboutton {
  position: absolute;
  font-size: 4vw;
  cursor: pointer;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  text-align: center;
}
div img {
  width: 120pt;
}

/* Sohaib */
/* section 2 */
#mainMiddleContent{
  background-color: #000000;
}
#sectionTwoAcceuil {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 85%;
  height: 100vh;
  background-color: #000000;
  transition: 1.5s;
}

.broly, .venom, .captainA, .chunLi {
  max-width: 50%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: -28%;
}

/* Exemple d'utilisation des unités de vue en largeur (vw) pour spécifier la taille de l'image */
.broly img, .venom img, .captainA img, .chunLi img { 
  height: auto;
}

.broly {
  z-index: 3;
  object-fit: cover;
}

.venom {
  z-index: 2;
  object-fit: cover;
}

.captainA {
  z-index: 1;
  object-fit: cover;
}

.chunLi {
  z-index: 0;
  object-fit: cover;
}

.broly:hover, .venom:hover, .captainA:hover, .chunLi:hover {
  margin-left: -10%;
  transition: 1s;
}

#spriteAccueil {
  height: max-content;
  align-items: center;
  margin-top: 10%;
  max-width: 100%;
  z-index: 1000;
  background-color: wheat;
  display: none;
}

#broly {
  height: 280px;
  width: 206px;
  background: url(../assets/sprite1_Broly.png);
  visibility: hidden;
}

#venom {
  height: 280px;
  width: 230px;
  background: url(../assets/sprite1_Venom.png);
  visibility: hidden;
}

#chunLi {
  height: 101px;
  width: 93px;
  background: url(../assets/sprite1_ChunLi.png);
  transform: scale(2);
  visibility: hidden;
  margin-top: 5%;
}

#captainA {
  height: 200px;
  width: 147px;
  background: url(../assets/sprite1_CaptainAmerica.png);
  transform: scale(2);
  visibility: hidden;
  margin-top: 5%;
}

#broly,#chunLi,#captainA,#venom{
  position: absolute;
  margin-left: 5%;
}

.textSectionMain {
  background-color: black;
  color: white;
  height: 100vh;
  padding: 2%;
}

.titreSectionMain {
  font-size: 3vw;
}

.phraseSectionMain {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}

/* Sohaib */
/* section 3 */
#sectionTreeAcceuil{
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: flex-start;
  background-color: #000000;
  transition: 1.5s;
}

.textSectionMain2{
  background-color: black;
  color: white;
  width: 25vw;
  padding: 2%;
}

#areneAccueil{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.arene{
  width: 25vw;
}
/* Karim */
/* login page style */
#containerLoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

#containerForm {
  background-color: rgba(0, 0, 0, 0.558); /* Couleur du fond avec une certaine opacité */
  backdrop-filter: blur(10px);
  padding: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;
  width: 60%;
}

h1 {
  text-align: center;
  color: #333;
}

#containerForm label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: #ffffff;
}

#containerForm input[type='text'],
#containerForm input[type='password'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

#containerForm input[type='submit'] {
  background-color: black;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
}

#containerForm input[type='submit']:hover {
  background-color: rgb(168, 3, 3);
}

#containerForm #paragrapheLogin {
  display: block;
  color: #ffffff;
  text-align: left;
}

#containerForm a {
  text-decoration: none;
}

#containerForm a:hover {
  text-decoration: underline;
}

.phrase_error {
  color: rgb(168, 3, 3);
}

@media screen and (max-width: 700px) {
  #navbarWrapper {
    display: block;
    height: 100px;
  }

  #navbarWrapper .navLinks ul li {
    margin: 0;
  }

  .navLinks ul {
    top: 5em;
    position: absolute;
    display: flex;
    line-height: 100px;
    flex-direction: column;
    height: 100vh;
    left: -100%;
    width: 100%;
    background: rgb(124, 1, 1);
    padding: 0;
    text-align: center;
    transition: 0.25s;
    z-index: 1000;
  }

  #navbarWrapper .logoPage {
    margin: 40px 0;
    width: 7em;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .navLinks ul li a {
    display: block; /* Faire en sorte que le lien soit un bloc pour couvrir l'ensemble de l'élément li */
    max-width: 100%; /* Étendre le lien sur toute la largeur de l'élément li */
    height: auto; /* Étendre le lien sur toute la hauteur de l'élément li */
  }

  .navLinks ul li:hover {
    background: rgba(79, 1, 1, 0.429);
    padding-left: 20px;
    cursor: pointer;
  }

  #icons {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  #icons:before {
    content: '\2630';
    color: rgb(255, 255, 255);
    font-size: 30px;
  }

  .active #icons::before {
    content: '\2716';
    font-size: 30px;
  }

  #navbarWrapper.active ul {
    left: 0;
  }

  #titleOfMain {
    position: relative;
    top: 25%;
  }

  #buttonSection {
    top: 55%;
  }

  div img {
    width: 85pt;
  }

  #containerForm {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 15%;
  }

  #containerForm {
    border: none;
  }
}




/* ------------------- MOHAMED ----------------------*/

/* styles dans main.css */
.fighter-image {
  width: 150px;
  height: 150px;
  margin: 5px; /* Ajoute une marge de 5px autour de chaque image */
  /* Ajoutez d'autres styles selon vos besoins */
}

.main-container {
  display: flex;
  flex-wrap: nowrap; /* Empêche le passage à la ligne des éléments */
  overflow-x: auto; /* Ajoute un défilement horizontal si les images débordent de la largeur */
  gap: 10px; /* Ajoute un espacement entre les images */


 /* Ajout de styles pour placer le contenu au bas de la page et au centre horizontalement */
 position: absolute;
 bottom: 0;
 left: 50%; /* Déplacer le conteneur à 50% de la largeur de son parent */
 transform: translateX(-50%); /* Corriger la position pour le centrer */
 width: 100%;
 justify-content: center; /* Aligner le contenu horizontalement au centre */
}



#brolySurPlace{
  height: 280px;
  width: 206px;
  background: url(../assets/sprite1_Broly.png);
  bottom: 0;
  left: 1200px;
  /* visibility: hidden; */
  position: absolute;
  margin-bottom: 400px;
  z-index: 1000; /* Position absolue pour superposer les div sur les images */
  
}
